@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@400;700&family=Style+Script&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Passion+One:wght@700&family=Patua+One&family=Righteous&family=Special+Elite&display=swap");

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  //letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
