// COLORS
$clr-black: #000000;
$clr-blue-one: #7b88ff;
$clr-grey-one: #fff8de;
$clr-grey-two: #383837;
$clr-grey-three: #797a7a;
$clr-purple-one: #3e008a;
$clr-yellow-one: #ffcc29;
$clr-yellow-two: #f7ea00;
$clr-yellow-three: #ffffe4;
$clr-white: #fff;

// FONTS
$clr-font-one: Montserrat;
$clr-font-two: Special Elite;

// OTHER
$border: 2px solid $clr-black;
$dropshadow: 5px 5px 2px $clr-grey-three;
